<header class="navbar">
    <div class="container">
        <a href="#" class="logo">AlumniZONE</a>
        <div class="menu-toggle" id="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav>
            <ul class="nav-links" id="nav-links">
                <li><a href="#"><i class="fas fa-home me-1"></i>Home</a></li>
                <li id="profileLink" class="hidden"><a href="#"><i class="fas fa-user-circle me-1"></i>My Profile</a>
                </li>
                <li><a href="#Institutes"><i class="fas fa-university me-1"></i>Collage</a></li>
                <li><a href="../CreatePost/social.html"><i class="fas fa-users me-1"></i>Social Network</a></li>
                <li><a href="../html/Alumni Management/verifyAlumni.html"><i
                            class="fas fa-graduation-cap me-1"></i>Graduate Alumni</a></li>
                <li><a href="#features"><i class="fas fa-star me-1"></i>Features</a></li>
                <li>
                    <a href="../html/allRecuiter.html">
                        <i class="fas fa-handshake me-1"></i>
                        Recruiter
                    </a>
                </li>

                <li id="loginLink"><a href="#" onclick="openLoginForm()"><i
                            class="fas fa-sign-in-alt me-1"></i>Login</a></li>
                <li id="registerLink"><a href="#" onclick="openForm()" class="btn"><i
                            class="fas fa-user-plus me-1"></i>Register</a></li>

                <li id="logoutLink" class="hidden"><a href="#" onclick="logout()"><i
                            class="fas fa-sign-out-alt me-1"></i>Logout</a></li>
                <li class="profile-box hidden" id="profileBox">
                    <span id="welcomeName" class="welcome-name"><i class="fas fa-user-shield me-1"></i>Admin</span>
                    <img id="logo" src="" alt="Profile" class="profile-img" />
                </li>
            </ul>

        </nav>
    </div>
</header>